.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex:1;
}
.game-board { 
    width: 100%;
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
flex: 1


}

.dealer {
    grid-column: 2;
    grid-row: 1;
    position: relative;
}

.player-1 {
    grid-column: 1;
    grid-row: 2;
    position: relative;
}

.player-2 {
    grid-column: 2;
    grid-row: 2;
    position: relative;
}

.player-3 {
    grid-column: 3;
    grid-row: 2;
    position: relative;
}

.player-4 {
    grid-column: 1;
    grid-row: 3;
    position: relative;
}
.player-5 {
    grid-column: 2;
    grid-row: 3;
    position: relative;
}

.player-6 {
    grid-column: 3;
    grid-row: 3;
    position: relative;
}

.player-7 {
    grid-column: 2;
    grid-row: 4;
    position: relative;
}
.card-1 {
    left: calc(50% - 15px);
    top: calc(50% - 30px);
}

.card-2 {
    left: calc(50% - 30px);
    top: calc(50% - 45px);
    z-index: 1;
}

.deck {
    grid-column: 3;
    grid-row: 1;
    position: relative;
    left: calc(50% - 25px);
    top: calc(50% - 40px);
}






.hidden {
    display: none;
}